@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

@theme {

    --font-newsreader: "Newsreader", serif;
    --font-open-sans: "Open Sans", sans-serif;

    --color-privue-100: #edf2ff;
    --color-privue-200: #dbe4ff;
    --color-privue-300: #bac8ff;
    --color-privue-400: #91a7ff;
    --color-privue-500: #748ffc;
    --color-privue-600: #5c7cfa;
    --color-privue-700: #4c6ef5;
    --color-privue-800: #4263eb;
    --color-privue-900: #3b5bdb;
    --color-privue-950: #364fc7;
}

.btn-outline {
    @apply inline-flex items-center justify-center h-9 px-3 rounded-full border border-privue-600/20 bg-privue-100 hover:bg-privue-100/80 hover:text-privue-900 text-sm font-medium;
}

.btn-primary {
    @apply inline-flex items-center justify-center h-9 px-3 rounded-full bg-privue-100 text-privue-900 hover:bg-privue-100/80 dark:bg-privue-800 dark:text-privue-200 dark:hover:bg-privue-800/80 text-sm font-medium;
}

.nav-link {
    @apply inline-flex h-10 items-center justify-center rounded-md bg-privue-100/50 px-4 py-2 text-sm font-semibold leading-6 text-privue-900 transition-colors hover:bg-privue-200/50 hover:text-privue-950 focus:bg-privue-200 focus:text-privue-950 focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[state=open]:bg-privue-300 data-[state=open]:text-privue-950 data-[state=open]:hover:bg-privue-400 data-[state=open]:focus:bg-privue-400;
}