@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

@theme {

    --font-newsreader: "Newsreader", serif;

    --color-privue-100: #edf2ff;
    --color-privue-200: #dbe4ff;
    --color-privue-300: #bac8ff;
    --color-privue-400: #91a7ff;
    --color-privue-500: #748ffc;
    --color-privue-600: #5c7cfa;
    --color-privue-700: #4c6ef5;
    --color-privue-800: #4263eb;
    --color-privue-900: #3b5bdb;
    --color-privue-950: #364fc7;
}